Package: com.yy.tiktokcapture
Name: TikTokCapture
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Capture TikTok profile/self API requests and responses
Maintainer: yy
Author: yy
Section: Tweaks
Depends: mobilesubstrate
